body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 25px;
    background-color: #1d1f21;
    color: #c5c8c6;
    font-size: 22px;    
}

h1 {
    color: #ffc44f;
    text-align: center;
    margin-bottom: 50px;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

label {
    margin-right: 10px;
    color: #ffffff;
    font-size: 19px;
}

input {
    margin-right: 9px;
    padding: 6px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background-color: #373b41;
    color: #c5c8c6;
    font-size: 18px;
    width: 165px;
}

input[type="submit"], .submit-button {
    background-color: #ffffff;
    color: #1d1f21;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
}

input[type="submit"]:hover, .submit-button:hover {
    background-color: #c5c8c6;
    color: #1d1f21;
}

#tasks {
    text-align: center;
}

.task-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px;
}

.task {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task h3 {
    margin-top: 0;
}

#results {
    background-color: #282a2e;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: #c5c8c6;
}

#results h2, #results h3 {
    color: #ffc44f;
    margin-bottom: 10px;
}

#results .result-block {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1d1f21;
}

#results .port-info {
    margin-left: 20px;
}

#results .vulnerable {
    color: red;
    font-weight: bold;
}

#results .vulnerability-details {
    margin-left: 20px;
    color: #f0c674;
}

#results .vulnerability-details p {
    margin: 2px 0;
}

#results .status-success {
    color: green;
    font-weight: bold;
}

#results .status-failure {
    color: red;
    font-weight: bold;
}

#results .status-error {
    color: orange;
    font-weight: bold;
}
