<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Scan 360</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>SECURE SCAN 360</h1>
    <form id="scan-form">
        <label for="target">Ingrese su ip / dominio:</label>
        <input type="text" id="target" name="target" required>
        <button type="submit" class="submit-button">Comenzar</button>
    </form>
    
    <section id="tasks">
        <h2>Tareas realizadas por Secure Scan 360</h2>
        <div class="task-container">
            <div class="task">
                <h3>Escaneo de Puertos</h3>
                <p>Identifica puertos abiertos en un sistema y los servicios que están siendo ejecutados.</p>
            </div>
            <div class="task">
                <h3>Vulnerabilidad de Puertos</h3>
                <p>Detecta posibles vulnerabilidades en los servicios que corren en los puertos abiertos.</p>
            </div>
            <div class="task">
                <h3>Fuerza Bruta</h3>
                <p>Intenta descifrar contraseñas mediante la prueba de todas las combinaciones posibles.</p>
            </div>
            <div class="task">
                <h3>ARPSpoof</h3>
                <p>Envenena la caché ARP de una red para interceptar tráfico entre dispositivos.</p>
            </div>
            <div class="task">
                <h3>Man in the Middle</h3>
                <p>Intercepta y modifica la comunicación entre dos partes sin que estas lo sepan.</p>
            </div>
            <div class="task">
                <h3>Email Scraper</h3>
                <p>Extrae direcciones de correo electrónico de sitios web para análisis posterior.</p>
            </div>
            <div class="task">
                <h3>Intento de Backdoor</h3>
                <p>Intenta insertar un acceso oculto a un sistema para control futuro no autorizado.</p>
            </div>
        </div>
    </section>

    <div id="results"></div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

