<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Scan 360</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h1>SECURE SCAN 360</h1>
    <form id="scan-form">
        <label for="target">Ingrese su IP / dominio:</label>
        <input type="text" id="target" name="target" required>
        <button type="submit" class="submit-button" id="start-button">Comenzar</button>
    </form>
    
    <section id="tasks">
        <h2>Tareas realizadas por Secure Scan 360</h2>
        <div class="task-container">
            <div class="task">
                <h3>Escaneo de Puertos</h3>
                <p>Identifica puertos abiertos en un sistema y los servicios que están siendo ejecutados.</p>
            </div>
            <div class="task">
                <h3>Vulnerabilidad de Puertos</h3>
                <p>Detecta posibles vulnerabilidades en los servicios que corren en los puertos abiertos.</p>
            </div>
            <div class="task">
                <h3>Fuerza Bruta</h3>
                <p>Intenta descifrar contraseñas mediante la prueba de todas las combinaciones posibles.</p>
            </div>
            <div class="task">
                <h3>SQL injection</h3>
                <p>Se trata de interferir en las consultas que hace la aplicacion web a su base de datos.</p>
            </div>
            <div class="task">
                <h3>XSS</h3>
                <p>Se intenta insertar codigo malicioso a la aplicacion web.</p>
            </div>
        </div>
    </section>

    <div id="loading-message">
        <i class="fas fa-spinner fa-spin"></i> <span>Escaneando... Esto puede tardar unos minutos.</span>
    </div>

    <div id="message"></div>
    <div id="results"></div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>



