<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Scan 360</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/image2.png') }}">
</head>
<body>
    <h1>SECURE SCAN 360</h1>
    <div class="form-container">
        <form id="scan-form">
            <label for="target">Ingrese la dirección IP o el dominio que desea evaluar:</label>
            <input type="text" id="target" name="target" required>
        </form>
    </div>

    <section id="tasks">
        <h2>Seleccione la evaluación de seguridad que desea ejecutar</h2>
        <div class="task-container">
            <div class="task">
                <h3>Escaneo de Puertos</h3>
                <p>Identifica puertos abiertos en un sistema y los servicios que están siendo ejecutados en estos puertos posteriormente, se detectan aquellos que puedan ser explotados.</p>
                <button type="button" class="task-button" id="port-scan-button">Iniciar Escaneo de Puertos</button>
            </div>
            <div class="task">
                <h3>Fuerza Bruta</h3>
                <p>Intenta descifrar contraseñas mediante la prueba de las combinaciones con mayor posibilidad de exito.</p>
                <button type="button" class="task-button" id="brute-force-button">Iniciar Fuerza Bruta</button>
            </div>
            <div class="task">
                <h3>SQL Injection</h3>
                <p>Manipula consultas SQL para obtener acceso no autorizado o comprometer la integridad de las bases de datos.</p>
                <button type="button" class="task-button" id="sql-button">Iniciar SQL Injection</button>
            </div>
            <div class="task">
                <h3>XSS</h3>
                <p>Inyecta código malicioso en páginas web, lo que permite alterar su comportamiento o afectar a los usuarios.</p>
                <button type="button" class="task-button" id="xss-button">Iniciar XSS</button>
            </div>
        </div>
    </section>

    <div id="loading-message">
        <i class="fas fa-spinner fa-spin"></i> <span>Escaneando... Esto puede tardar unos minutos.</span>
    </div>

    <div id="message"></div>
    <div id="results"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
